body,
html {
  margin:0;
  padding:0;
  color:#000;
  background:#FFFFFF;
}

h1 {
  margin: 0;
  font-size: 50px;
  color: #222;
}

h2 {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
}

.logo1 {
  width: 700px;
}

#wrap {
  width:750px;
  margin:0 auto;
  background: #CDFFE6;
}

#header {
  padding:5px 10px;
  background: #585B59;
  text-align: center;
}

#nav {
  padding:5px 10px;
  background: #A4CCB8;
  text-align: center;
  font-size: 25px;
}

#nav ul{
  margin:0;
  padding:0;
  list-style:none;
}

#nav li {
  display:inline;
  margin:0;
  padding:0;
}

#main {
  float:left;
  width:480px;
  padding: 10px;
  background: #ddd;
  border-width: 10px;
  border-color: #A4CCB8;
}

#sidebar {
  float: right;
  width: 230px;
  padding: 10px;
  background: #CDFFE6;
}

#footer {
  clear: both;
  padding: 0px 40px 0px 40px;
  background: #A4CCB8;
  margin: 0 0 auto;
}
