<ul class="idealist">
  <% ideas.each do |idea| %>
    <a href="/<%= idea.id %>"><li class="ideaitem">
      <%= idea.title %>
      <div class="tab"><%= idea.description %></div>
    </li></a>
  <% end %>
</ul>

