<h1>Welcome to IdeaBox</h1>
<img src="/images/Edison_incandescent_lights.jpg" alt="bulbs">
<%= erb :form, locals: {idea: idea} %>
<h3>Existing Ideas</h3>

<ul>
  <% ideas.each do |idea| %>
    <li>
      <a href="/<%= idea.id %>"><%= idea.title %><br/></a>
      <%= idea.description %>
    </li>
  <% end %>
</ul>
