<!doctype html>
<html lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <title>IdeaBox</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <a href="/"><img class="logo1" src="/images/logo_small.jpg" alt="bulbs"></a>
      </div>
      <div id="nav">
        <ul>
          <a href="/"><li>All Ideas</li></a>
        </ul>
      </div>
      <div id="main">
          <%= yield %>
      </div>
      <div id="sidebar">
        <%= erb :form, locals: {idea: idea} %>
      </div>
      <div id="footer">
        <img class="logo" src="/images/Edison_incandescent_lights.jpg" alt="bulbs">
      </div>
    </div>
  </body>
</html>
